doctype html
html(lang="en")
  include includes/head.pug
  body
    include includes/header.pug

    h1.err 404
    h3.errMsg OOPS! Page not found.
    div.links 
      a(href="/").addMsg  Homepage 
      a(href="/new").addMsg  Add new blog 