doctype html
html(lang="en")
  include includes/head.pug
  body 
    include includes/header.pug
    form(action="/new", method='POST')
      h1.formTitle Add new message
      div.formContainer 
        input(type="text" name='text' required placeholder='Message text')
        input(type="text" name='user' required  placeholder='Username')
        button.submitBtn Submit
  a(href="/").goBack < Go Back