doctype html
html(lang="en")
  include includes/head.pug
  body
    include includes/header.pug
  h3.homeTitle Share your messages
  p.description Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora harum, odit, cumque cupiditate sunt maxime quidem voluptates obcaecati sint aperiam voluptas, dolorum asperiores eum modi debitis ab expedita facilis laboriosam?
  div.links 
    a(href="/messages").addMsg  Messages 
    a(href="/new").addMsg  Add new message

